@import '../../variables';
@import '../../mixins';

.courses-overview {
    width: 100%;
    overflow: hidden;
    position: relative;
    .course-tags-container {
        padding-top: 20px;
        padding-bottom: 60px;
        @include flexbox();
        @include flex-wrap(wrap);
        .course-tag-container {
            width: 100%;
            display: inline-block;
            position: relative;
            height: 50px;
            padding: 10px;
            border-bottom: 1px solid #fff;
            overflow: hidden;
            @include transition(
                background-color 0.3s ease,
                padding 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
            );
              
            .thumb-info-block {
                @include transform(translateX(0px) translateY(0px));
                @include transition(transform 150ms);
                
                position: static;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow-x: visible;
                overflow-y: visible;
                width: 100%;
                height: 200%;
                padding: 10px 10px 15px;
                @include transform(none);

                .thumb-title {
                    position: static;
                    overflow-x: visible;
                    overflow-y: visible;
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 0;
                    padding-right: 0;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #fff;
                    clear: none;
                    letter-spacing: 2px;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .courses-overview-bg-images-mask {
        display: none;
    }
}

@media (max-width: $media-breakpoint-md) {
    .courses-overview {
        .course-tags-container {
            .course-tag-container {
                .thumb-info-block {
                    .thumb-title {
                        font-style: italic;
                    }
                }
                &:hover {
                    background-color: #eb484d;
                    padding-left: 30px;
                } 
            }
        }
    }
}

@media (min-width: $media-breakpoint-md) {
    .courses-overview {
        height: calc(100% - 70px);
        .courses-overview-bg-images-mask {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            overflow: hidden;
            .courses-overview-bg-image-container {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-size: cover;            
                @include transform(translateX(0px) translateY(100%));
                @include transition(opacity 250ms, transform 250ms);
                &.active {
                    @include transform(translateX(0px) translateY(0%));
                }
                .courses-overview-bg-image-fade {
                    width: 100%;
                    height: 100%;
                    background-color: rgba(#000, 0.3);
                }
            }
        }
        .course-tags-container {
            padding: 20px 40px;            
            .course-tag-container {
                width: 31.33%;
                padding: 0;
                margin: 10px 1% 0 1%;  
                height: 150px; 
                .black-bg-mask {
                    position: absolute;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    width: 100%;
                    height: 100%;
                    .home-thumb-black-bg {
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: #1c1c1c;
                        @include transform(translateX(0px) translateY(100%));
                        @include transition(opacity 250ms, transform 250ms);
                    }
                } 
                .thumb-info-block {
                    .thumb-spacer {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: 50%;
                        margin-top: -45px;
                    }
                    .thumb-title {
                        @include transition(transform 250ms);
                        @include transform(translateX(0px) translateY(-5px));
                    }
                } 
                &:hover {
                    cursor: pointer;
                    .black-bg-mask {
                        .home-thumb-black-bg {
                            opacity: 1;
                            transform: translateX(0px) translateY(0px);
                        }
                    }
                    .thumb-info-block {
                        @include transform(translateX(0px) translateY(-100px));
                        .thumb-title {
                            font-weight: 600;
                            //@include transform(translateX(0px) translateY(50px));
                        }
                    }
                }     
            }
        }
    }
}