<div class="header-image"></div>
<div class="performances-container">
  <div *ngFor="let performance of performances" class="posts">
    <h2 [innerHTML]='performance.title'></h2>
    <div class="team-member-content-container">
      <img src={{getFileSrc(performance.poster)}} class="team-member-picture-frame"
      (click)="dialog.show(performance.gallery, performancesListShortId)"/>
      <div class="team-member-description-container" [innerHTML]='performance.description'></div>
    </div>
  </div>
</div>

<app-gallery #dialog></app-gallery>