<app-header-image [image]='backgroundImage' [listId]='currentListShortId' title='Aktuelles'></app-header-image>
<div class="main-content-container main-content-container-padding">
  <div class="blog-posts main-content">
    <div *ngFor="let post of posts | async" class="post-container">
      <div class="post">
        <div class="post-image-container" [ngStyle]="getPostImageBackgroundStyle(post)">
        </div>
        <h2 [innerHTML]='post.title' class="post-heading"></h2>
        <div [innerHTML]='post.description'></div>
      </div>
    </div>
  </div>
</div>
