@import '../../../variables';
@import '../../../mixins';

$postBorderColor: #e1e1e1;

.current-container {
    background-color: #fff;        
}

.blog-posts {
    padding: 20px;
    .post-container {   
        color: #303030;
        opacity: 0.85;
        padding-bottom: 50px;        
        .post {
            .post-image-container {
                height: 300px;
                background-size: cover;
                background-color: $postBorderColor;
            }
            .post-heading {
                margin: 5px 0 5px 0;
            }
        }
    }
}

@media (min-width: $media-breakpoint-md){
    .blog-posts {
        padding: 50px;        
        @include flexbox();
        @include flex-wrap(wrap);
        .post-container {
            @include flex-grow(1);
            @include flexbox();
            @include flex-direction(column);
            padding-bottom: 0;
            display: inline-block;
            width: 49%;
            border-bottom: 1px solid $postBorderColor; 
            .post {
                padding-bottom: 50px;
                padding-top: 50px;
            }
            &:nth-child(odd) {
                border-right: 1px solid $postBorderColor;            
                .post {
                    padding-right: 50px;
                }
            }
            &:nth-child(even) {
                .post {
                    padding-left: 50px;
                }
            }
            &:nth-child(-n+2) {
                .post {
                    padding-top: 0;
                }
            }
            &:nth-last-child(-n+2) {
                border-bottom: none;            
                .post {
                    padding-bottom: 0;            
                }
            }
        }
    }
}

@media (min-width: $media-breakpoint-lg){
    .blog-posts {
        max-width: $media-breakpoint-lg;
    }
}