@import '../../../variables';

.header-image {
    background-image: url("../../../resources/H34A8653.jpg");
}

.content {
    background-color: $main-text-color;
    padding: 10px;

    .posts {
        background-color: #303030;
        color: #ffffff;
        opacity: 0.85;
        padding: 20px;
        margin: 70px;
    }
}