<app-header-image *ngIf="backgroundImage" [image]='backgroundImage' [listId]='mainPageListShortId' title='Aktuelles'></app-header-image>
<div class="main-content-container main-content-container-padding">
  <div class="blog-posts main-content">
    <div *ngFor="let post of posts" class="post-container">
      <div class="post">
        <a class="post-image-container" [routerLink]="post.routerLink" [ngStyle]="getPostImageBackgroundStyle(post)" *ngIf="post.images && post.images.length > 0">
            <i class="default-icon" *ngIf="!post.images || post.images.length === 0"></i>
        </a>
        <div class="post-date">{{getDateStringLong(post.date)}}</div>
        <a [routerLink]="post.routerLink">
          <h2 [innerHTML]='post.title' class="post-heading"></h2>
        </a>
        <div class="post-description-container">
          <div class="post-description" [innerHTML]='post.description'></div>
          <div class="post-description-overlay"></div>
        </div>
        <a class="post-more-button" [routerLink]="post.routerLink">Mehr erfahren</a>
      </div>
    </div>
  </div>
</div>
