@import '../../../../variables.scss';
@import '~webapps-reschke-common/scss/mixins';

.performance-component {
    animation-name: fade-in;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
    .performance-content-container {
        color: $main-text-color-on-dark-bg;
        text-align: center;
        .performance-title {
            text-transform: uppercase;
            margin: 20px 0 0 0;
        }
        .performance-date {
            display: inline-block;
            margin: 0 auto 50px auto;
            font-size: 18px;
            display: inline-block;
            font-size: 12px;
            padding: 0 10px;
            font-weight: 600;
            border: 1px solid $main-text-color-on-dark-bg;
        }
        .performance-description {
            text-align: left;
            margin-top: 50px;
            margin-bottom: 100px;
        }
    }
}