@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.performance-component {
    animation-name: fade-in;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
    .performance-content-container {
        color: $main-text-color-on-dark-bg;
        .performance-title {
            text-align: center;
            text-transform: uppercase;
            margin: 20px 0 0 0;
        }
        .performance-date {
            text-align: center;
            font-size: 18px;
            margin-bottom: 50px;
        }
        .performance-description {
            margin-top: 50px;
            margin-bottom: 100px;
        }
    }
}