div {
    display: block;
}

.parallaxPhilosophy, .parallaxCurrent, .parallaxCourses, .parallaxStage,
.parallaxTeam, .parallaxLocations, .parallaxContact {
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.parallaxPhilosophy {
    background-image: url("../../resources/DSC_7558_mitLogo.jpg");
    opacity: 0.85;
}

.parallaxCurrent {
    background-image: url("../../resources/H34A8653.jpg");
}

.parallaxCourses {
    background-image: url("../../resources/Kurse.jpg");
}

.parallaxStage {
    background-image: url("../../resources/DSC_9425.jpg");
    min-height: 100%;
}

.parallaxTeam {
    background-image: url("../../resources/Team.jpg");
}

.parallaxLocations {
    background-image: url("../../resources/Standorte.jpg");
}

.parallaxContact {
    background-image: url("../../resources/Kontakt.jpg");
}

.container {
    position: absolute;
    top: 30%;
    width: 100%;

    .caption {
        left: 0;
        text-align: center;
        color: #fff;
        background-color: rgba(77, 77, 77, 0.5);
        max-width: 1000px;
        margin: auto;
        // margin: auto 130px;
        // padding: 10px;
        padding: 30px;
    
        span.border {
            border: 2px solid #fcfbf9;
            padding: 18px;
            font-size: 30px;
            letter-spacing: 10px;
            margin: 20px;
        }
    
        p.description {
            // margin: auto 15px;
            font-size: 20px;
            padding-top: 20px;
        }
    }
}
