<div class="parallaxPhilosophy"></div>
<div class="parallaxStage">
  <div class="caption">
    <span class="border">BÜHNE</span>
    <p class="description">1990 entstand das Tanztheater Anita Hanke in Markgröningen. Nach ersten Erfolgen mit Inszenierungen für Kinder, Jugendliche und Erwachsene wurden neue, größere Räume für den Unterricht und die Proben bezogen. Nach der Inszenierung “Der kleine Tag” und den Choreographenabenden “Art of Dance” und “Zeit” veranstalteten wir regelmäßig  Tanztheaterproduktionen. Inzwischen bieten wir über 50 Kurse an für Tänzerinnen und Tänzer von 3-65 Jahren. Diese Trailer zeigen Ausschnitte aus unseren letzten Bühnenproduktionen 2014 Scala Ludwigsburg “Cinemoves-als die Bilder laufen lernten”</p>
  </div>
</div>
<div class="parallaxTeam">
  <div class="caption">
    <span class="border">TEAM</span>
    <p class="description">1990 entstand das Tanztheater Anita Hanke in Markgröningen. Nach ersten Erfolgen mit Inszenierungen für Kinder, Jugendliche und Erwachsene wurden neue, größere Räume für den Unterricht und die Proben bezogen. Nach der Inszenierung “Der kleine Tag” und den Choreographenabenden “Art of Dance” und “Zeit” veranstalteten wir regelmäßig  Tanztheaterproduktionen. Inzwischen bieten wir über 50 Kurse an für Tänzerinnen und Tänzer von 3-65 Jahren. Diese Trailer zeigen Ausschnitte aus unseren letzten Bühnenproduktionen 2014 Scala Ludwigsburg “Cinemoves-als die Bilder laufen lernten”</p>
  </div>
</div>
