<div class="navbar">
    <div routerLink="/" class="logo-container">
      <div class="logo"></div>
      <div class="logo-label-container">
        <div class="logo-label">
          <span>Tanztheater</span>
          <span>Anita Hanke</span>
        </div>
      </div>
    </div>
    <div class="navbar-navigation">
      <a class="navbar-navigation-link" routerLink="/aktuelles">
        Aktuelles
      </a>
      <a class="navbar-navigation-link" routerLink="/kurse">
        Kurse
      </a> 
      <a class="navbar-navigation-link" routerLink="/buehne">
        Bühne
      </a>
      <a class="navbar-navigation-link" routerLink="/team">
        Team
      </a>
      <a class="navbar-navigation-link" routerLink="/locations">
        Standorte
      </a>
      <a class="navbar-navigation-link" routerLink="/contact">
        Kontakt
      </a>
    </div>
  </div>