<div class="navbar-container main-content-container main-content-container-padding"> 
  <div class="navbar main-content" [ngClass]="isMobileNavOpen === true ? 'mobile-nav-open': ''">
    <div routerLink="/" class="logo-container">
      <div class="logo"></div>
      <div class="logo-label-container">
        <div class="logo-label">
          <span>Tanztheater</span>
          <span>Anita Hanke</span>
        </div>
      </div>
    </div>
    <div class="navbar-menu-icon-container" (click)="toggleMobileNav()">
      <div class="navbar-menu-icon">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
      </div>
    </div>
    <div class="navbar-navigation">
      <a class="navbar-navigation-link home-link" routerLink="/" (click)="toggleMobileNav()">
        Home
      </a>
      <a class="navbar-navigation-link" routerLink="/kurse" (click)="toggleMobileNav()">
        Kurse
      </a> 
      <a class="navbar-navigation-link" routerLink="/aktuelles" (click)="toggleMobileNav()">
        Aktuelles
      </a>
      <a class="navbar-navigation-link" routerLink="/auftritte" (click)="toggleMobileNav()">
        Auftritte
      </a>
      <a class="navbar-navigation-link" routerLink="/team" (click)="toggleMobileNav()">
        Team
      </a>
      <a class="navbar-navigation-link" routerLink="/locations" (click)="toggleMobileNav()">
        Standorte
      </a>
      <a class="navbar-navigation-link" routerLink="/contact" (click)="toggleMobileNav()">
        Kontakt
      </a>
    </div>
  </div>
</div>
