/*-----------
|   COLORS  |
------------*/

$header-link-color: #f2f2f2;
$header-hover-background-color: #595959;
$main-text-color: #F6F5F5;
$main-text-color-on-dark-bg: #ffffff;
$main-text-color-on-light-bg: #000000;
$post-seperator-color: #8C8C8C;
$accent-color-1: #eb484d;
$main-background-color-dark: #000000;

/*---------------------------
|   RESPONSIVE BREAKPOINTS  |
----------------------------*/

// Small devices (landscape phones, 576px and up)
$media-breakpoint-sm: 576px;

// Medium devices (tablets, 768px and up)
$media-breakpoint-md: 768px;

// Large devices (desktops, 992px and up)
$media-breakpoint-lg: 992px;

// Extra large devices (large desktops, 1200px and up)
$media-breakpoint-xl: 1200px;
