@import '../../../variables.scss';
@import '~webapps-reschke-common/scss/mixins';

.cookies-notification-container {
    position: fixed;
    bottom: 0;
    color: $main-text-color-on-dark-bg;
    text-align: center;
    opacity: 0;
    width: calc(100% - 20px);
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 13s;
    z-index: 2;
    padding: 10px;
    .cookies-notification {
        position: relative;
        display: inline-block;
        @include border-radius(10px);
        border: 1px solid $border-color-dark-2;
        background-color: $main-background-color-2;
        .cookies-notification-content {
            .cookies-notification-description-container {
                padding: 10px;
                font-size: 12px;
                @include flexbox();
                @include flex-direction(row);
                .cookies-icon-container {
                    width: 35px;
                    text-align: center;
                    .cookies-icon {
                        font-size: 16px;
                    }
                }
                .cookies-notification-description {
                    flex: 1;
                    text-align: left;
                    .cookies-notification-description-link {
                        text-decoration: underline;
                        color: $main-text-color-on-dark-bg;
                        &:hover {
                            cursor: pointer;
                            color: $accent-color-1;
                        }
                    }
                }
            }
            .cookies-notification-buttons-container {
                flex: 0;
                @include flexbox();
                @include flex-direction(row);
                .cookies-notification-button {
                    flex: 1;
                    display: inline-block;
                    font-size: 12px;
                    position: relative;
                    &:hover {
                        cursor: pointer;
                    }
                    .cookies-notification-button-text {
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        top: 50%;
                        margin-top: -10px;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-breakpoint-md - 1) {
    .cookies-notification-container {
        .cookies-notification {
            .cookies-notification-content {
                .cookies-notification-description-container {
                    .cookies-icon-container {
                        display: none;
                    }
                }
                .cookies-notification-buttons-container {
                    height: 40px;
                    border-top: 1px solid $border-color-dark-2;
                    .cookies-notification-okay-button {
                        border-left: 1px solid $border-color-dark-2;
                    }
                }
            }
        }
    }
}

@media (min-width: $media-breakpoint-md) {
    .cookies-notification-container {
        position: fixed;
        width: calc(100% - 20px);
        right: 0;
        float: right;
        .cookies-notification {
            .cookies-notification-content {
                @include flexbox();
                @include flex-direction(row);
                .cookies-notification-description-container {
                    align-items: center;
                    .cookies-icon-container {
                        width: 70px;
                        .cookies-icon {
                            font-size: 25px;
                        }
                    }
                }
                .cookies-notification-buttons-container {
                    flex: 0;
                    @include flex-direction(column);
                    border-left: 1px solid $border-color-dark-2;
                    .cookies-notification-button {
                        flex: 1;
                        position: relative;
                        width: 100px;
                    }
                    .cookies-notification-okay-button {
                        border-top: 1px solid $border-color-dark-2;
                    }
                }
            }
        }
    }
}

@media (min-width: $media-breakpoint-lg) {
    .cookies-notification-container {
        position: fixed;
        width: calc(40% - 20px);
    }
}