<app-header-image [image]='backgroundImage' [listId]='teamListShortId' title='Team'></app-header-image>
<div class="team-content-container main-content-container main-content-container-padding">
  <div class="team-content main-content">
    <div *ngFor="let teacher of teachers" class="team-member-container">
      <div class="team-member-card" [routerLink]="['/lehrer', getTeacherUrlId(teacher)]">
        <div class="team-member-bg-container" [ngStyle]="getBackgroundStyle(teacher.image)">
          <div class="team-member-bg-mask">
          </div>
          <div class="team-member-about-me-tag">
              &Uuml;ber {{teacher.firstName}}
            </div>
        </div>
        <div class="team-member-tag">
          <div class="team-member-tag-name">{{teacher.firstName}} {{teacher.lastName}}

          </div>
          <div class="team-member-tag-task" [innerHTML]="teacher.task">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
