@import '../../../variables.scss';
@import '../../../mixins.scss';

/* The navigation bar */
.navbar {
    @include flexbox();
    height: 70px;
    overflow: hidden;
    background-color: #000000;
    // position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    .logo-container {
        float: left;  
        margin: 10px 20px; 
        height: 50px;
        cursor: pointer; 
        @include flexbox();
        &:focus {
            outline: none;                
        }       
        .logo {
            background-image: url("../../../resources/Logo.png"); //no-repeat;
            background-size: 100% 100%;
            display: inline-block;
            height: 50px;
            width: 20px;
        }
        .logo-label-container {
            display: inline-block; 
            width: 120px;           
            .logo-label {
                color: $header-link-color; 
                padding: 5px 0px 5px 10px;  
                font-size: 16px;
                text-transform: uppercase;         
                span {
                    margin: 0;
                    display: block;
                    line-height: 20px;
                }
            }
        }
    }
    .navbar-navigation {
        display: block;  
        .navbar-navigation-link {
            display: block;
            color: $header-link-color;
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .navbar-menu-icon-container {
        @include transition(background-color 0.5s ease);  
        &:hover {
            cursor: pointer;
            background-color: $accent-color-1;  
        }     
        .navbar-menu-icon {
            width: 35px;
            float: right;
            z-index: 99;                   
            .bar {
                height: 2px;
                width: 35px;                
                background-color: #FFFFFF;
                margin: 6px 0;
                @include transition(all 0.5s ease);
            }
        }
    }
}

@media (max-width: $media-breakpoint-md) {
    .navbar { 
        .navbar-menu-icon-container { 
            position: fixed;
            z-index: 99;
            height: 70px;
            width: 70px;
            right: 30px;
            top: 0;
            background-color: #202020;
            .navbar-menu-icon {
                margin: 20px 17px;
            }
        }
        .navbar-navigation {   
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 100px;
            width: 100%;
            height: 100%;
            transform: translateX(-100%); 
            @include transition(transform 0.5s ease);
            overflow: hidden;
            z-index: 1;
            background-color: #202020;
            .navbar-navigation-link {   
                font-style: italic;
                font-size: 2em;
                padding: 15px 0 15px 50px;
                @include transition(
                    padding 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
                    background-color 0.3s
                );  
                &:hover {
                    background-color: $accent-color-1; 
                    padding-left: 70px;               
                }
            }
        }
    }
    .navbar.mobile-nav-open {
        .navbar-navigation {
            transform: translateX(0%);            
        }  
        .navbar-menu-icon-container { 
            background-color: transparent;
            .navbar-menu-icon {
                .bar1 {
                    width: 27px;
                    transform: translate(29px, -1px) rotate(45deg) ;
                }
                .bar2 {
                    width: 50px;
                }
                .bar3 {
                    width: 27px;
                    transform: translate(29px, 1px) rotate(-45deg) ;
                }
            }
        }
    }
}

@media (min-width: $media-breakpoint-md) {
    .navbar { 
        .navbar-menu-icon-container { 
            display: none;            
        }
        .navbar-navigation {            
            @include flex(1);  
            @include flexbox();
            @include justify-content(flex-end);
            .navbar-navigation-link {
                border-bottom: 1px transparent;
                @include transition(border-bottom 0.3s ease);
                height: 25px;
                margin: 25px 20px 20px 20px;
                text-align: center;                
                &:hover {
                   border-bottom: 1px solid #fff;        
                }
            } 
            .home-link {
                display: none;
            }
        }
    }
}