<div class="schedule-component">
  <div class="schedule-header">
    <h2 class="schedule-title" (click)="toggleScheduleOpen()">
      <i class="fas fa-caret-right navigation-icon" [ngClass]="scheduleOpen ? 'schedule-open' : ''" *ngIf="displayDrawer"></i>
      <span>Stundenplan</span>
      <span *ngIf="location"> Studio {{location.name}}</span>
    </h2>
    <div class="schedule-navigation-container" [ngClass]="[courseShortId ? 'schedule-navigation-hide-filters' : '', scheduleOpen === false ? 'schedule-closed' : 'schedule-open']">
      <div class="schedule-navigation-filter-segments">
        <div class="schedule-navigation-segment schedule-navigation-age-groups">
          <form>
              <select name="selectedAgeGroups" (change)="selectAgeGroup($event.target.value)">
                <option value="">Alle Altersgruppen</option>
                <option *ngFor="let ageGroup of ageGroups" [ngValue]="ageGroup">{{ageGroup.title}}</option>
              </select>
            </form>
        </div>
        <div class="schedule-navigation-segment schedule-navigation-levels">
          <form>
            <select name="selectedLevels" (change)="selectLevel($event.target.value)">
              <option value="">Alle Niveaus</option>
              <option *ngFor="let level of levels" [ngValue]="level">{{level.title}}</option>
            </select>
          </form>
        </div>
      </div>
      <div class="schedule-navigation-style-selector" (click)="toggleDisplayColors()">
          <i class="far schedule-navigation-style-selector-icon" [ngClass]="displayColors ? 'fa-check-circle' : 'fa-circle'"></i>
          <span class="schedule-navigation-style-label">Stundenplan einfärben</span>
      </div>
    </div>
  </div>
  <div class="schedule-container" [ngClass]="scheduleOpen === false ? 'schedule-closed' : 'schedule-open'">
    <div class="day-container" *ngFor="let appointments of courseAppointmentsByDay; let dayIndex = index" [ngClass]="appointments.length === 0 ? 'day-container-empty' : ''" [ngStyle]="{'width': columnWidth}">
      <div class="day-title">{{getDayTitle(dayIndex)}}</div>
      <div class="appointment-container" *ngFor="let appointment of appointments" [routerLink]="getCourseLink(appointment)" [ngClass]="[getCourseLink(appointment) ? 'has-course-link' : '', displayColors ? 'display-colors' : '']">
        <div class="appointment-time appointment-text">
          {{getTimeString(appointment.dateStart)}}-{{getTimeString(appointment.dateEnd)}} Uhr
        </div>
        <div class="appointment-title appointment-text">
          {{appointment.title}}
        </div>
        <div class="appointment-location appointment-text" *ngIf="!location">
          in {{appointment.location.name}}
        </div>
        <div class="appointment-info-icons-container">
          <div class="appointment-age-groups" *ngIf="appointment.ageGroups && appointment.ageGroups.length > 0">
            <span class="schedule-no-colors-label">Für </span>
            <div class="schedule-info-icon appointment-age-group" *ngFor="let ageGroup of appointment.ageGroups" [ngStyle]="getScheduleIconStyle(ageGroup.hexColor)">
              {{ageGroup.title}}
            </div>
          </div>
          <div class="appointment-levels" *ngIf="appointment.levels && appointment.levels.length > 0">
            <span class="schedule-no-colors-label">Niveau: </span> 
            <span class="schedule-info-icon appointment-level" *ngFor="let level of appointment.levels, let i = index" [ngStyle]="getScheduleIconStyle(level.hexColor)">
              {{level.title}}<span *ngIf="appointment.levels.length > 1 && i < appointment.levels.length - 1" class="schedule-no-colors-label"> / </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
