@import '../../../variables.scss';
@import '../../../mixins.scss';

.schedule-component {
    .schedule-container {
        .day-container {
            .day-title {
                border-bottom: 1px solid $main-text-color;
            }
            .appointment-container {
                font-size: 13px;
                margin-bottom: 10px;
                @include transition(color 0.3s ease);
                &:hover {
                    color: $accent-color-1;
                    cursor: pointer;
                }
            }
        }
    }
    margin-bottom: 50px;
}

@media (min-width: $media-breakpoint-md) {
    .schedule-component {
        .schedule-container {
            display: flex;
            flex-direction: row;
            .day-container {
                width: 19%;
                .day-title {

                }
                .appointment-container {
                    padding-right: 15px;
                    display: flex;
                    flex-direction: column;
                }
                .day-title, .appointment-container {
                    
                }
            }
        }
    }
}