<div class="schedule-component">
  <h2 class="schedule-title">Stundenplan<span *ngIf="location"> {{location.name}}</span></h2>
  <div class="schedule-container">
    <div class="day-container" *ngFor="let appointments of courseAppointmentsByDay; let dayIndex = index">
      <div class="day-title">{{getDayTitle(dayIndex)}}</div>
      <div class="appointment-container" *ngFor="let appointment of appointments" [routerLink]="getCourseLink(appointment)" [ngClass]="getCourseLink(appointment) ? 'has-course-link' : ''">
        <div class="appointment-time">
          {{getTimeString(appointment.dateStart)}}-{{getTimeString(appointment.dateEnd)}} Uhr
        </div>
        <div class="appointment-title">
          {{appointment.title}}
        </div>
        <div class="appointment-location" *ngIf="!location">
          in {{appointment.location.name}}
        </div>
      </div>
    </div>
  </div>
</div>