@import '../../../variables.scss';

.courses-content-container {
    color:$main-text-color;
    .courses-title { 
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: $media-breakpoint-md) {
    .courses-content-container {  
        display: none;
    }
}