@import '../../../../variables';
@import '../../../../mixins';

.location-content-container {
    .location-content {
        padding-top: 50px;
    }
}
.google-maps-iframe-container {
    margin-bottom: 100px;
    margin-top: 100px;
}

.location-bottom-space {
    height: 100px;
}