<div class="text-center h-full w-full flex flex-col bg-[#ffebcc]">
    <div class="bg"></div>
    <div class="h-full w-full max-w-[1200px] ml-[auto] mr-[auto]">
        <div class="h-[35%] relative">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <span class="text-[250px] leading-[250px] font-[august] text-[#f24139] flex-1">Susanne
                            Brenner</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex h-[65%] pb-[20px]">
            <div class="img-tile">
                <div class="img-container">
                    <div class="img-background img1"></div>
                    <div class="img-overlay"></div>
                </div>
                <span class="title">Rücken-Fit</span>
            </div>

            <div class="img-tile">
                <div class="img-container">
                    <div class="img-background img2"></div>
                    <div class="img-overlay"></div>
                </div>
                <span class="title">Nordic Walking</span>
            </div>
            <div class="img-tile">
                <div class="img-container">
                    <div class="img-background img3"></div>
                    <div class="img-overlay"></div>
                </div>
                <span class="title">Ernährungsberatung</span>
            </div>

        </div>
    </div>
</div>