<div class="text-center h-full w-full flex flex-col main-content-container main-content-container-padding">
    <div class="bg"></div>
    <div class="h-full w-full ml-[auto] mr-[auto]">
        <div class="h-[35%] relative  main-content">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <span
                            class="text-[150px] md:text-[250px] leading-[250px] font-[august] text-[#f24139] flex-1">Susanne
                            Brenner</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container flex h-[65%] pb-[100px]  main-content">
            <div class="img-tile">
                <span class="title">Rücken-Fit</span>
                <div class="img-container">
                    <div class="img-background img1"></div>
                    <div class="img-overlay"></div>
                </div>

            </div>

            <div class="img-tile">
                <span class="title">Nordic Walking</span>
                <div class="img-container">
                    <div class="img-background img2"></div>
                    <div class="img-overlay"></div>
                </div>
            </div>
            <div class="img-tile">
                <span class="title">Ernährungsberatung</span>
                <div class="img-container">
                    <div class="img-background img3"></div>
                    <div class="img-overlay"></div>
                </div>
            </div>

        </div>
    </div>
</div>