@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../../variables.scss";

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.page-title {
  color: $accent-color-1;

}

.img-tile {
  width: 100%;
  &:hover {
    cursor: pointer;
  }
  .title {
    font-family: HelveticaNowDislayBold;
  }
  .img-container {
    position: relative;
    flex: 1;
    overflow: hidden;
    .img-overlay {
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.1;
      }
    }

    .img-background {
      height: 100%;
      width: 100%;
      // filter: grayscale(1);
      background-position: center;
      background-size: cover;
    }
  }
}

.img1 {
  background-image: url("../../../assets/images/room.jpeg");
}

.img2 {
  background-image: url("../../../assets/images/walking.jpeg");
}

.img3 {
  background-image: url("../../../assets/images/food.jpg");
}

body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  position: fixed;
  z-index: -1;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.5;
  visibility: visible;
}

@media (min-width: $media-breakpoint-md) {
  .image-container {
    flex-direction: row;
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
