<!--<div class="main-page-title-video-container" [ngClass]="hideVideo === true  ? 'hide' : ''">
    <youtube-player *ngIf="youtubeVideoId"
        [videoId]="youtubeVideoId"
        height='100%'
        width='100%'
        [playerVars]="getPlayerVars()"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
        [ngStyle]="getPlayerStyle()"
    ></youtube-player>
    <div class="video-overlay" [ngClass]="videoLoaded === true  ? 'hide' : ''"></div>
</div>-->
<app-sb-main-page-header></app-sb-main-page-header>
<div class="main-page-section-container text-[#f24139]">
    <app-main-page-section *ngIf="aboutMeSection" [sectiondata]='aboutMeSection' isFirstSection='true' hideTitle="true">
    </app-main-page-section>
    <app-main-page-section *ngIf="rueckenFitSection" [sectiondata]='rueckenFitSection' displayInstructor='true'
        displayLocations='true'>
    </app-main-page-section>
    <app-main-page-section *ngIf="nordicWalkingSection" [sectiondata]='nordicWalkingSection' isFirstSection='true'
        displayInstructor='true'></app-main-page-section>
    <app-main-page-section *ngIf="ernaehrungsberatungSection" [sectiondata]='ernaehrungsberatungSection'>
    </app-main-page-section>

</div>