<div class="main-page-title-video-container">
    <div id="video-iframe" class="video-iframe"></div>
    <div class="video-overlay" [ngClass]="videoLoaded === true  ? 'hide' : ''"></div>
</div>
<app-main-page-section *ngIf="philosophySection" [sectiondata]='philosophySection' isFirstSection='true'></app-main-page-section>
<app-main-page-section *ngIf="blogSection" [sectiondata]='blogSection'></app-main-page-section>
<app-main-page-section *ngIf="coursesSection" [sectiondata]='coursesSection'></app-main-page-section>
<app-main-page-section *ngIf="performancesSection" [sectiondata]='performancesSection'></app-main-page-section>
<app-main-page-section *ngIf="performancesSection" [sectiondata]='teamSection'></app-main-page-section>
<app-main-page-section *ngIf="locationsSection" [sectiondata]='locationsSection'></app-main-page-section>
<app-main-page-section *ngIf="contactSection" [sectiondata]='contactSection'></app-main-page-section>

