<!-- <div class="header-image">
  <app-header-image [image]='backgroundImage' [listId]='coursesListShortId' title='Preise und Stundenpläne'></app-header-image>
</div> -->
<div class="courses-content-container main-content-container main-content-container-padding main-content-navbar-spacer" *ngIf="text">
  <div class="courses-content main-content">
    <app-schedule locationInitials='MG' displayNavigationDrawer='true' schedule = 'scheduleMG'></app-schedule>
    <app-schedule locationInitials='LB' displayNavigationDrawer='true' schedule = 'scheduleLB'></app-schedule>
    <a name="preise"></a>
    <h2 id="preise">Preise</h2>
    <div class="courses-gerneral-description" [innerHTML]='text'></div>
    <div class="tth-button-container">
      <a class="tth-button" href={{registrationChild}} download="Anmeldung_Kind_Tanztheater_Hanke" target="_blank">
        <i class="tth-button-icon fas fa-cloud-download-alt"></i>
        <span class="tth-button-label">Downlaod Anmeldung Kinder</span>
      </a>
    </div>
    <div class="tth-button-container">
      <a class="tth-button" href={{registrationAdult}} download="Anmeldung_Erwachsener_Tanztheater_Hanke" target="_blank">
        <i class="tth-button-icon fas fa-cloud-download-alt"></i>
        <span class="tth-button-label">Download Anmeldung Erwachsene</span>
      </a>
    </div>
  </div>
</div>
