@import '../../../../variables.scss';

.header-image {
  display: none;
}

.courses-content-container {
  padding-top: 20px;
  padding-bottom: 20px;

  .schedule {
    width:100%;
    height: 350px;
  }
}

.download-link {
  color: $download-link-color;
}

@media (min-width: $media-breakpoint-md) {
  .header-image {
    display: block;
  }
  .courses-content-container {
    padding-top: 50px;
    padding-bottom: 50px;
    .schedule {
      height: 600px;
    }
  }
}

@media (min-width: $media-breakpoint-md) {
  .courses-content-container {
    padding-top: 70px;
    padding-bottom: 70px;
    .schedule {
      height: 750px;
    }
  }
}
