<div class="teacher-content-container main-content-container main-content-container-padding" *ngIf="teacher">
  <div class="main-content teacher-content">
    <h1 class="teacher-heading">
      {{teacher.firstName + " " + teacher.lastName}}
    </h1>
    <div class="teacher-flex-container">
      <div class="teacher-image" [ngStyle]="getBackgroundStyle(teacher.image)">

      </div>
      <div class="teacher-description-container">
        <h1 class="teacher-heading">
          {{teacher.firstName + " " + teacher.lastName}}
        </h1>
        <div class="teacher-task">
            {{teacher.task}}
          </div>
        <div class="teacher-description">
          {{teacher.description}}
        </div>
      </div>
    </div>
  </div>
</div>
