<div class="footer">
    <div class="footer-section footer-contact-container">
      <div class="footer-section-heading">
        Contact
      </div>
      <div class="footer-section-content" *ngIf="locationMG && email">
        <span class="footer-section-content-link">{{locationMG.addressName}}</span>
        <span class="footer-section-content-link">{{locationMG.addressStreet}}</span>
        <span class="footer-section-content-link footer-section-content-link-inline">{{locationMG.addressZIP}}</span>
        <span class="footer-section-content-link footer-section-content-link-inline">{{locationMG.addressCity}}</span>
        <div class="footer-section-content-break"></div>
        <span class="footer-section-content-link">{{locationLB.addressName}}</span>
        <span class="footer-section-content-link">{{locationLB.addressStreet}}</span>
        <span class="footer-section-content-link footer-section-content-link-inline">{{locationLB.addressZIP}}</span>
        <span class="footer-section-content-link footer-section-content-link-inline">{{locationLB.addressCity}}</span>
        <div class="footer-section-content-break"></div>
        <span class="footer-section-content-link">Tel. {{phone}}</span>
        <span class="footer-section-content-link">{{email}}</span>
      </div>
    </div>
    <div class="footer-section footer-social-container">
        <div class="footer-section-heading">
            Social
          </div>
        <div class="footer-section-content">    
          <a class="footer-section-content-link" href="#">
            Facebook
          </a>
          <a class="footer-section-content-link" href="#">
            YouTube
          </a>
        </div>
      </div>
    <div class="footer-section footer-legal-container">
      <div class="footer-section-heading">
          Disclaimer
      </div>
      <div class="footer-section-content">  
        <div class="footer-section-content-link">Copyright by Tanztheater Anita Hanke 2017</div>
        <div class="footer-section-content-link">Designed by Niko Reschke and Yasmin Hollenbenders</div>
      </div>
    </div>
  </div>