@import '../../../variables';
@import '../../../mixins';

.footer {
    overflow: hidden;
    background-color: #000000;
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10;
    color: $main-text-color;
    .footer-section {
        margin: 30px;
        text-align: center;
        .footer-section-heading {
            font-size: 20px;
            font-weight: 600;
        }
        .footer-section-content {
            font-size: 14px;
            .footer-section-content-link {
                display: block;
                text-decoration: none;
                color: $main-text-color;
            }
            .footer-section-content-link-inline {
                display: inline-block;
            }
            .footer-section-content-break {
                height: 15px;
            }
        }
    }
}

@media (min-width: $media-breakpoint-md) {
    .footer {
        @include flexbox();
        .footer-section {
            width: 33%;
            text-align: left;
        }
    }
}

@media (min-width: $media-breakpoint-lg) {
    .footer {
        max-width: $media-breakpoint-lg;
        margin: 0 auto;
        .footer-section {
            margin: 50px;
        }
    }
}