/*-----------
|   COLORS  |
------------*/

$header-link-color: #f2f2f2;
$header-hover-background-color: #595959;
$main-text-color: #F6F5F5;
$main-text-color-on-dark-bg: #ffffff;
$main-text-color-on-light-bg: #252525;
$post-seperator-color: #8C8C8C;
$accent-color-1: #595959;
$main-background-color: #000000;
$main-background-color-2: #222222;
$main-background-color-dark: #000000;
$main-background-color-imprint: #1b1b1b;
$main-background-color-light: #f0f0f0;
$download-link-color: #dbd6d6;
$border-color-dark-2: #2c2c2c;
$border-color-light-2: #b4b4b4;
$link-color: #4454e6;
$link-color-hover: #0934c4;

/*---------------------------
|   RESPONSIVE BREAKPOINTS  |
----------------------------*/

// Small devices (landscape phones, 576px and up)
$media-breakpoint-sm: 576px;

// Medium devices (tablets, 768px and up)
$media-breakpoint-md: 768px;

// Large devices (desktops, 992px and up)
$media-breakpoint-lg: 992px;

// Extra large devices (large desktops, 1200px and up)
$media-breakpoint-xl: 1200px;