<app-header-image [image]='course.image' [listId]='coursesListShortId' [title]='course.title' *ngIf="course"></app-header-image>
<div class="course-details-content-container main-content-container main-content-container-padding" *ngIf="course">
  <div class="main-content">
    <div class="course-description" [innerHTML]="course.description"></div>

    <app-schedule [courseShortId]='course.shortId'></app-schedule>

    <iframe class="course-details-video" *ngIf="course.youtubeId" [src]="getYoutubeLink()" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
<!--<app-image-slider [images]='[course.image]' [listid]='coursesListShortId' *ngIf="course"></app-image-slider>-->
