<div class="footer-container" *ngIf="footerContentLoaded && mainPageContentLoaded">
  <div class="footer">
    <div class="foerderung-wrapper">
      <div class="foerderer-label">
        Förderer
      </div>
      <div class="foerderung-container mobile">
        <a class="foerderung foerderung-01" href="http://www.dachverband-tanz.de/" target="_blank">
  
        </a>
        <a class="foerderung foerderung-03" href="www.kulturstaatsministerin.de" target="_blank">
          
        </a>
        <a class="foerderung foerderung-02" href="https://www.kulturstaatsministerin.de/neustartkultur" target="_blank">
          
        </a>
      </div>
      <div class="foerderung-container desktop">
        <a class="foerderung foerderung-01" href="http://www.dachverband-tanz.de/" target="_blank">
  
        </a>
        <a class="foerderung foerderung-02" href="https://www.kulturstaatsministerin.de/neustartkultur" target="_blank">
          
        </a>
        <a class="foerderung foerderung-03" href="www.kulturstaatsministerin.de" target="_blank">
          
        </a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-section-container">
      <div class="footer-section footer-section-contact">
        <div class="footer-section-heading">
          Kontakt
        </div>
        <div class="footer-section-content" *ngIf="locationMG && email">
          <span class="footer-section-content-link">{{locationMG.addressName}}</span>
          <span class="footer-section-content-link">{{locationMG.addressStreet}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationMG.addressZIP}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationMG.addressCity}}</span>
          <span class="footer-section-content-link consultation-label" [routerLink]="['/standorte', 0]">Beratungszeiten<i class="fas fa-arrow-right"></i></span>
          <!-- <span class="footer-section-content-link">{{locationMG.consultationTime1}}</span>
          <span class="footer-section-content-link" *ngIf="locationMG.consultationTime2">{{locationMG.consultationTime2}}</span>
          <span class="footer-section-content-link" *ngIf="locationMG.consultationTime3">{{locationMG.consultationTime3}}</span> -->
          <div class="footer-section-content-break"></div>
          <span class="footer-section-content-link">{{locationLB.addressName}}</span>
          <span class="footer-section-content-link">{{locationLB.addressStreet}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationLB.addressZIP}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationLB.addressCity}}</span>
          <span class="footer-section-content-link consultation-label" [routerLink]="['/standorte', 1]">Beratungszeiten<i class="fas fa-arrow-right"></i></span>
          <!-- <span class="footer-section-content-link">{{locationLB.consultationTime1}}</span>
          <span class="footer-section-content-link" *ngIf="locationLB.consultationTime2">{{locationLB.consultationTime2}}</span>
          <span class="footer-section-content-link" *ngIf="locationLB.consultationTime3">{{locationLB.consultationTime3}}</span> -->
          <div class="footer-section-content-break"></div>
          <span class="footer-section-content-link"><a [href]="['tel:', phone, '?']" target="_top">Tel. {{phone}}</a></span>
          <span class="footer-section-content-link"><a [href]="['mailto:', email, '?']" target="_top">{{email}}</a></span>
        </div>
      </div>
    </div>
    <div class="footer-section-container">
      <div class="footer-section footer-section-social">
        <div class="footer-section-heading">
            Social Media
        </div>
        <div class="footer-section-content footer-section-content-social">
          <a class="footer-section-content-link-icon" href="https://www.facebook.com/Tanztheater/" target="_blank">
            <i class="fab fa-facebook-square fa-3x"></i>
          </a>
          <a class="footer-section-content-link-icon" href="https://www.instagram.com/das_tanztheater/" target="_blank">
            <i class="fab fa-instagram fa-3x"></i>
          </a>
          <a class="footer-section-content-link-icon" href="https://www.youtube.com/user/TanztheaterAnitaHank/videos?view=0&sort=dd&flow=grid" target="_blank">
            <i class="fab fa-youtube fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-section-container">
      <div class="footer-section footer-section-legal">
        <a class="footer-section-heading" routerLink="/impressum">
            Impressum
        </a><br>
        <a class="footer-section-heading" routerLink="/datenschutz">
          Datenschutz
        </a>
        <div class="footer-section-content">
          <div class="footer-section-content-link">Geschützt durch Tanztheater Anita Hanke 2017</div>
          <div class="footer-section-content-link">Web Design: Niko Reschke und Yasmin Hollenbenders</div>
        </div>
      </div>
    </div>
  </div>
</div>
