<div class="footer-container">
  <div class="footer">
    <div class="footer-section-container">
      <div class="footer-section footer-section-contact">
        <div class="footer-section-heading">
          Kontakt
        </div>
        <div class="footer-section-content" *ngIf="locationMG && email">
          <span class="footer-section-content-link">{{locationMG.addressName}}</span>
          <span class="footer-section-content-link">{{locationMG.addressStreet}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationMG.addressZIP}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationMG.addressCity}}</span>
          <span class="footer-section-content-link">Beratungszeiten:</span>
          <span class="footer-section-content-link">{{locationMG.consultationTime1}}</span>
          <span class="footer-section-content-link" *ngIf="locationMG.consultationTime2">{{locationMG.consultationTime2}}</span>
          <span class="footer-section-content-link" *ngIf="locationMG.consultationTime3">{{locationMG.consultationTime3}}</span>
          <div class="footer-section-content-break"></div>
          <span class="footer-section-content-link">{{locationLB.addressName}}</span>
          <span class="footer-section-content-link">{{locationLB.addressStreet}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationLB.addressZIP}}</span>
          <span class="footer-section-content-link footer-section-content-link-inline">{{locationLB.addressCity}}</span>
          <span class="footer-section-content-link">Beratungszeiten:</span>
          <span class="footer-section-content-link">{{locationLB.consultationTime1}}</span>
          <span class="footer-section-content-link" *ngIf="locationLB.consultationTime2">{{locationLB.consultationTime2}}</span>
          <span class="footer-section-content-link" *ngIf="locationLB.consultationTime3">{{locationLB.consultationTime3}}</span>
          <div class="footer-section-content-break"></div>
          <span class="footer-section-content-link">Tel. {{phone}}</span>
          <span class="footer-section-content-link">{{email}}</span>
        </div>
      </div>
    </div>
    <div class="footer-section-container">
      <div class="footer-section footer-section-social">
        <div class="footer-section-heading">
            Social Media
        </div>
        <div class="footer-section-content footer-section-content-social">
          <a class="footer-section-content-link-icon" href="https://www.facebook.com/Tanztheater/">
            <i class="fab fa-facebook-square fa-3x"></i>
          </a>
          <a class="footer-section-content-link-icon" href="https://www.instagram.com/das_tanztheater/">
            <i class="fab fa-instagram fa-3x"></i>
          </a>
          <a class="footer-section-content-link-icon" href="https://www.youtube.com/user/TanztheaterAnitaHank/videos?view=0&sort=dd&flow=grid">
            <i class="fab fa-youtube fa-3x"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-section-container">
      <div class="footer-section footer-section-legal">
        <a class="footer-section-heading" routerLink="/impressum">
            Impressum
        </a>
        <div class="footer-section-content">
          <div class="footer-section-content-link">Geschützt durch Tanztheater Anita Hanke 2017</div>
          <div class="footer-section-content-link">Web Design: Niko Reschke und Yasmin Hollenbenders</div>
        </div>
      </div>
    </div>
  </div>
</div>
