@import '../../../variables.scss';
@import '../../../mixins.scss';

.footer-container {
    .footer {
        overflow: hidden;
        bottom: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        z-index: 10;
        color: $main-text-color;
        .footer-section-container {
            .footer-section {
                // text-align: center;
                .footer-section-heading {
                    font-size: 20px;
                    font-weight: 600;
                    color: $main-text-color;
                    text-decoration: none;
                }
                .footer-section-content {
                    font-size: 14px;

                    &.footer-section-content-social {
                        // text-align: center;
                    }

                    .footer-section-content-link {
                        display: block;
                        text-decoration: none;
                        color: $main-text-color;
                    }
                    .consultation-label {
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                        i {
                            font-size: 10px;
                            margin-left: 10px;
                        }
                    }
                    .footer-section-content-link-inline {
                        display: inline-block;
                        margin-right: 4px;
                    }
                    .footer-section-content-link-icon {
                        display: inline-block;
                        text-decoration: none;
                        color: $main-text-color;
                        // margin: 10px;
                        position: relative;
                        width: 40px;
                        height: 40px;
                        // padding: 10px;
                        // @include border-radius(30px);
                        // border: 1px solid #fff;
                        i {
                            position: absolute;
                            font-size: 30px;
                            width: 40px;
                            // left: 10px;
                            top: 13px;
                        }
                    }
                    .footer-section-content-break {
                        height: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: $media-breakpoint-md - 1) {
    .footer-container {
        .footer {
            .footer-section-container {
                .footer-section {
                    margin: 30px;
                }
            }
        }
    }
}

@media (min-width: $media-breakpoint-md) {
    .footer-container {
        padding: 50px;
        .footer {
            max-width: $media-breakpoint-md;
            margin: 0 auto;
            @include flexbox();
            .footer-section-container {
                width: 33%;
                @include flexbox();
                .footer-section {
                    text-align: left;
                    &.footer-section-contact {
                        padding-right: 50px;
                    }
                    &.footer-section-social {
                        // margin: 0 auto;
                        .footer-section-content-link-icon:first-of-type {
                            margin-left: 0;
                        }
                    }
                    &.footer-section-, &.footer-section-contact {
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}

@media (min-width: $media-breakpoint-lg) {
    .footer-container {
        .footer {
            max-width: $media-breakpoint-lg;
            .footer-section-container {
                .footer-section {

                }
            }
        }
    }
}
