@import '../../../../variables.scss';
@import '~webapps-reschke-common/scss/mixins.scss';

.location-content-container {
    opacity: 0;
    animation-name: fade-in;
    animation-delay: 1.7s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
    .location-content {
        padding-top: 50px;
        .location-info-container {
            margin-top: 30px;
            span {
                display: block;
            }
            .location-info-heading {
                margin-top: 20px;
                font-weight: 600;
            }
            .text-inline {
                display: inline-block;
            }
        }
    }
}
.google-maps-iframe-container {
    opacity: 0;
    animation-name: fade-in;
    animation-delay: 2.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
    margin-bottom: 100px;
    margin-top: 100px;
}

@media (min-width: $media-breakpoint-md) {
    .location-bottom-space {
        height: 50px;
    }
}