@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.location-content-container {
    .location-content {
        padding-top: 50px;
    }
}
.google-maps-iframe-container {
    margin-bottom: 100px;
    margin-top: 100px;
}

@media (min-width: $media-breakpoint-md) {
    .location-bottom-space {
        height: 50px;
    }
}