<app-header-image [image]='location.image' [listId]='locationsListShortId' [title]='location.name' *ngIf="location"></app-header-image>

<div *ngIf="location" class="location-content-container  main-content-container main-content-container-padding">
  <div class="location-content main-content">
    <div class="location-description" [innerHTML]="location.description">
    </div>
    <div class="location-info-container">
      <span class="location-info-heading">Adresse</span>
      <span>{{location.addressName}}</span>
      <span>{{location.addressStreet}}</span>
      <span class="text-inline">{{location.addressZIP}}</span>
      <span class="text-inline">&nbsp;{{location.addressCity}}</span>
      <span class="location-info-heading">Beratungszeiten</span>
      <span>{{location.consultationTime1}}</span>
      <span *ngIf="location.consultationTime2">{{location.consultationTime2}}</span>
      <span *ngIf="location.consultationTime3">{{location.consultationTime3}}</span>
    </div>
  </div>
</div>
<div *ngIf="location" class="google-maps-iframe-container">
  <iframe id="google-maps-iframe" [src]="getSafeUrl(location.embed)" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<app-image-slider *ngIf="location" [images]='location.gallery' [listid]='locationsListShortId'></app-image-slider>

<div *ngIf="location" class="location-content-container  main-content-container main-content-container-padding">
  <div class="location-content main-content">
    <app-schedule [locationShortId]='location.shortId'></app-schedule>
  </div>
</div>
<div class="location-bottom-space"></div>
